.FilterPage{
    display: flex;
    align-items: center;
    min-height: 100vh;
    gap:7rem;
    flex-wrap: wrap;
    padding:4rem;
    background:linear-gradient(rgba(255, 255, 255, 0.9),rgba(255, 190, 70, 0.9)), url("/public/img/filter achtergrond.jpg");

}

@media screen and (max-width:1000px){
    .FilterPage{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        gap:7rem;
        flex-wrap: wrap;
        padding:4rem;
        background:linear-gradient(rgba(255, 255, 255, 0.9),rgba(255, 190, 70, 0.9)), url("/public/img/filter achtergrond.jpg");
    
    }
}