.FilterPage{
    min-height: 100vh;
    gap:7rem;
    flex-wrap: wrap;
    padding:10rem;
    background:linear-gradient(rgba(255, 255, 255, 0.9),rgba(255, 190, 70, 0.9)), url("/public/img/filterAchtergrond.webp");
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 50% 50%;

}

@media screen and (max-width:1000px){
    .FilterPage{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        gap:7rem;
        flex-wrap: wrap;
        padding:4rem;
        background:linear-gradient(rgba(255, 255, 255, 0.9),rgba(255, 190, 70, 0.9)), url("/public/img/filterAchtergrond.webp");
    
    }
}