.cardsection{
    padding: 10rem;
}

.cardsection__wrapper{
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}
.cardsection__header{
    padding: 5rem;
    max-width: 100%;
    padding: 5rem 5rem;
    padding-left: 22rem;
    padding-right: 22rem;
    justify-content: center;
    align-items: center;
}
