.features__alles{
padding: 5rem;
gap: 2rem;
display: grid;
aspect-ratio: 2/1;
grid-template-columns: 50% 50%;

}


.features__figure{
    background-color: #ffe88b;
    min-height: 28rem;
    padding: 1rem;
    border-radius: 2rem;
    min-width: 20rem;
    justify-content: center;
    text-align: center;
    font-size: 2rem;
    background: url("/public/img/filterachtergrondfotos.webp");
}

.features__figure h1{
    letter-spacing: 0.5rem;
    font-family: 'Pokemon Solid', sans-serif;
    font-size: 3rem;
}


.Art__img{
    max-width: 100%;
}
