.dashboard__wrapper{
    padding:4rem;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}


.dashboard__ul{
    font-size: 2rem;
    list-style: none;
    display:flex;
    justify-content: center;
}

.dashboard__li{
    
}

.dashboard__link{
    font-size: 2.0rem;
    background: rgb(0, 81, 255);
    border: none;
    padding: 1rem 4rem;
    border-radius: 3rem;
    transition: 0s;
    font-family: 'Share Tech Mono', monospace;
    text-decoration: none;

}

.dashboard__link:hover{
    background: rgb(0, 50, 158);
    cursor: pointer;
}

.dashboard__li, a{
    color: white;
    text-decoration: none;
}
