.hamburger{
    padding-left: 1rem;
    width: 2rem;
    height: 5rem;
    display: flex;
    justify-content: space-around;
    z-index: 10;
    flex-flow: column;

}
.burger{
    width: 4rem;
    height: 0.80rem;
    border-radius: 	20px;
    background-color: black;
    transform-origin: 1px;
    transition: all 0s linear;
}
.hamburger{
    display: none;
  }

@media screen and (max-width:1000px){

    .hamburger{
        padding-left: 1rem;
        width: 2rem;
        height: 5rem;
        display: flex;
        z-index: 10;
        flex-flow: column;
        cursor: pointer;
    }
  }